/* Estilos generales */
body {
    font-family: 'Gothic A1', sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: height 0.3s ease;
    /* Transición para expandir el contenedor */
}

/* Estilos para el botón GENERATE */
#qrCodeButton {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #e0e0e0;
    border: 2px solid #666;
    border-radius: 25px;
    /* Bordes circulares */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#qrCodeButton:hover {
    background-color: #444;
}

/* Estilos para la imagen QR */
#qrBox {
    display: none;
    /* Ocultar inicialmente */
    margin-top: 10px;
    margin-bottom: 10px;
}

#qrImage {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

/* Estilos para el hipervínculo */
.hyperlink {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.hyperlink:hover {
    text-decoration: underline;
}

/* Estilos para el botón COPY */
#copyButton {
    padding: 10px 20px;
    background-color: #555;
    color: #e0e0e0;
    border: 2px solid #666;
    border-radius: 25px;
    /* Bordes circulares */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    /* Centrado y menor separación */
    display: block;
}

#copyButton:hover {
    background-color: #666;
}

/* Estilos para el botón DOWNLOAD */
.d-btn {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #e0e0e0;
    border: 2px solid #666;
    border-radius: 25px;
    /* Bordes circulares */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    position: relative;
}

.d-btn::after {
    content: '↓';
    margin-left: 10px;
}

.d-btn:hover {
    background-color: #444;
}